<html>
    <head><title>one go</title>
        <link rel="stylesheet" href="/try.css">
        
        <script>
    
        function myFunc() {
            //alert("hi");
              var x = document.getElementById("dropdown");
              if (x.style.display === "none") {
                x.style.display = "block";
              } else {
                x.style.display = "none";
              }
            }
            
</script>
    </head>
    <body>
        <div class="myDiv">
            <div class="secdiv">
                <button onclick="myFunc()">Click Me</button>
                
            </div>
            <div class="thirddiv">
                <h5>Quantity</h5>
                <input type="number" name="first" id="first"><br>
               
                <span id="current">current page : 1</span>
            </div>
            
        </div>
     
<div class="right-div">

   
    <div id="dropdown">
        <button class="dropbtn">Dropdown</button>
        <div class="dropdown-content">
        <a href="#">1</a>
        <a href="#"> 2</a>
        <a href="#"> 3</a>
        </div>
      </div>


<div class="dynamic-div-container">
    
    
        </div>
        <div class="buttons-container">
            <img src="/back.png" id="box-1">
            <img src="/for.png" id="box-2">
        </div>
    </div>
<script src="/try.js"></script>

    </body>
</html>