.myDiv {
    width: 30%;
     height: 100%; 
     float: left;
      background: #aaa;
  }
  body{
      background-color: #e7e6e6;
  }

  .secdiv {
      margin-top:30%;
    width: 100%;
     height: 100px; 
     
      background: rgb(141, 139, 139);
  }
   #but{
       margin-top:20%;
       text-align: centers;
       padding-top: 10%;
       margin-left: 29%;
   }
   .thirddiv {
    margin-top:30%;
  width: 100%;
   height: 100px; 
   padding-left:30%;
    background: rgb(141, 139, 139);
}

#dropdown {
    position: absolute;
    background: rgb(141, 139, 139);
    display: inline-block;
    height: 100vh;
    width: 15vw;
    z-index: 2;
    display: none;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #941414;
    min-width: 160px;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #f1f1f1}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
.div-generated{
  text-align: center;
  display:flex;
  height:100px;
  width:50vw;
  border:1px solid #a09c9c;
  margin: 30px;
  align-items: center;
  border:1px solid #a09c9c;
  background-color: #afabab;
}
.dynamic-div-container{
  /* border:3px solid yellow; */
  /* height:100vh; */
  flex:4;
  background-color:#e7e6e6;
  display:flex;
  flex-direction: column;
  text-align: center;
}

.right-div{
  /* border:1px solid #a1a1a1; */
  /* border:3px solid black; */
  height:100vh;
  /* width:20vw; */
  width: 70%;

  float: right;
  flex:5;
  
  background-color:#e7e6e6;
  display:flex;
  flex-direction: column;
  justify-content: flex-start;

  
  /* margin: 0px; */
}
.buttons-container{
  /* border:3px solid blue; 
  margin-top:60%;
 
  /* background-color: #afabab;
  
   height: 5%; 
  flex:1;
  margin-bottom: 20%; 
  background-color: #aaa;
  text-align: center;*/
  margin-top:38%;
  width: 100%;
   height: 100px; 
   padding-left: 28%;
   
   background-color:#e7e6e6;
    position: fixed;
  }
  .disk-number{
    /* align-self:flex-start; */
    height:60px;
    width:60px;
    border-radius:50%;
    margin:20px;
    text-align: center;
    background-color:	#d0cece;
    border:1px solid#afabab;
}
#current{
  color:rgb(141, 139, 139);
}


#box-1 {
 
  margin-top: 3%;
  background-color:#e7e6e6;
  width: 3%;
  height: 20%;
}

#box-2 {
 
  margin-top: 3%;
  background-color:#e7e6e6;
  width: 3%;
  height: 20%;
}